# Secrets example file.
# Copy this file to secrets.ini and replace the secret values with whatever floats your boat.
# Make sure not to push secrets.ini to your repository.

[secret]
hostname=TestParticipant
wifi_ssid=foo
wifi_password=bar
ota_ip=0.0.0.0
ota_port=8266
ota_password=verysecret
