// Secrets example file.
// Copy this file to wifi_secrets.h and replace the secret values with whatever floats your boat.
// Make sure not to push wifi_secrets.h to your repository.
#define SECRET_HOSTNAME "TestParticipant"
#define SECRET_WIFI_SSID "foo"
#define SECRET_WIFI_PASS "bar"