name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.1

      - name: Doxygen
        uses: mattnotmitt/doxygen-action@1.9.8
        with:
          doxyfile-path: 'docs/Doxygen'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/generated/html
